In [1]:
from sklearn import preprocessing

import pandas as pd
import numpy as np

In [2]:
NBA_FILE_PATH = '../Data/NBA_player_of_the_week.csv'

# 소수점 5번째 자리까지만 출력되도록 설정
pd.set_option('display.float_format', lambda x: '%.5f' % x)
    
nba_player_of_the_week_df = pd.read_csv(NBA_FILE_PATH)

In [4]:
nba_player_of_the_week_df.head()

,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Pre-draft Team,Real_value,Height CM,Weight KG,Last Season
0,Jayson Tatum,Boston Celtics,East,"Feb 10, 2020",SF,6'8,208,21,2017,2,2019-2020,2020,Duke,0.50000,203,94,1
1,Nikola Jokic,Denver Nuggets,West,"Feb 10, 2020",C,7'0,250,25,2014,4,2019-2020,2020,KK Mega Bemax (Serbia),0.50000,213,113,1
2,Jaylen Brown,Boston Celtics,East,"Feb 3, 2020",SF,6'7,220,23,2016,3,2019-2020,2020,California,0.50000,201,99,1
3,Damian Lillard,Portland Trail Blazers,West,"Feb 3, 2020",G,6'3,195,29,2012,7,2019-2020,2020,Weber State,0.50000,190,88,1
4,Pascal Siakam,Toronto Raptors,East,"Jan 27, 2020",F,6'9,230,25,2016,3,2019-2020,2020,New Mexico State,0.50000,206,104,1

In [5]:
nba_player_of_the_week_df.describe()

,Weight,Age,Draft Year,Seasons in league,Season short,Real_value,Height CM,Weight KG,Last Season
count,1340.00000,1340.00000,1340.00000,1340.00000,1340.00000,1340.00000,1340.00000,1340.00000,1340.00000
mean,224.56716,26.73806,1996.28731,5.74030,2003.15672,0.68694,201.07164,101.38433,0.02388
std,30.79888,3.40068,11.25356,3.29342,11.47016,0.24201,9.36797,14.01123,0.15273
min,150.00000,19.00000,1965.00000,0.00000,1980.00000,0.50000,175.00000,68.00000,0.00000
25%,205.00000,24.00000,1987.00000,3.00000,1994.00000,0.50000,193.00000,93.00000,0.00000
50%,220.00000,26.00000,1998.00000,5.00000,2005.00000,0.50000,201.00000,99.00000,0.00000
75%,250.00000,29.00000,2005.00000,8.00000,2013.00000,1.00000,208.00000,113.00000,0.00000
max,325.00000,40.00000,2018.00000,17.00000,2020.00000,1.00000,229.00000,147.00000,1.00000

In [7]:
height_weight_age_df = pd.DataFrame(nba_player_of_the_week_df, columns = ['Height CM', 'Weight KG', 'Age'])
height_weight_age_df.head()

   Height CM  Weight KG  Age
0        203         94   21
1        213        113   25
2        201         99   23
3        190         88   29
4        206        104   25

In [8]:
# 데이터를 standardize 함
scaler = preprocessing.StandardScaler()
standardized_data = scaler.fit_transform(height_weight_age_df)

In [12]:
standardized_data

array([[ 0.20592274, -0.52722617, -1.68795564],
       [ 1.27378837,  0.82933556, -0.51128218],
       [-0.00765038, -0.17023624, -1.09961891],
       ...,
       [-0.00765038, -0.24163423, -0.80545055],
       [-0.54158319, -1.16980804, -0.80545055],
       [-0.32801007, -0.81281811,  0.95955965]])

In [9]:
standardized_df = pd.DataFrame(standardized_data, columns=['Height', 'Weight', 'Age'])

In [10]:
standardized_df.describe()

          Height     Weight        Age
count 1340.00000 1340.00000 1340.00000
mean    -0.00000   -0.00000   -0.00000
std      1.00037    1.00037    1.00037
min     -2.78410   -2.38357   -2.27629
25%     -0.86194   -0.59862   -0.80545
50%     -0.00765   -0.17024   -0.21711
75%      0.73986    0.82934    0.66539
max      2.98237    3.25687    3.90124

In [11]:
standardized_df.head()

    Height   Weight      Age
0  0.20592 -0.52723 -1.68796
1  1.27379  0.82934 -0.51128
2 -0.00765 -0.17024 -1.09962
3 -1.18230 -0.95561  0.66539
4  0.52628  0.18675 -0.51128