In [1]:
%matplotlib inline
import pandas as pd

In [2]:
df = pd.read_csv('Data/iphone.csv', index_col = 0)
df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [3]:
df.loc['iPhone X', :]

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [4]:
df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [5]:
type(df.loc['iPhone X', :])

pandas.core.series.Series

In [6]:
df.loc[:, '출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

loc[row, column]

In [7]:
df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

df.loc[:, '출시일'] 와 비교시 더 간단하게 쓰려면 *column*의 경우 loc없이 df['출시일']만 써도 됨

In [8]:
df.index.dtype

dtype('O')

인덱스 데이터 타입을 알 수 있음 -> 숫자가 적혀 있을 때 이것이 정수인지 문자열인지 헷갈릴 경우 사용가능

In [9]:
df.loc[['iPhone X', 'iPhone 8']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [10]:
type(df.loc[['iPhone X', 'iPhone 8']])

pandas.core.frame.DataFrame

2차원이므로 데이터프레임

In [11]:
df.loc[['iPhone X', 'iPhone 8']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

row를 받아올 경우에는 loc를 꼭 써줘야 하지만, column을 받아오는 경우에는 쓰지 않아도 됨

In [12]:
df[['출시일', '디스플레이']]

                      출시일  디스플레이
iPhone 7       2016-09-16    4.7
iPhone 7 Plus  2016-09-16    5.5
iPhone 8       2017-09-22    4.7
iPhone 8 Plus  2017-09-22    5.5
iPhone X       2017-11-03    5.8
iPhone XS      2018-09-21    5.8
iPhone XS Max  2018-09-21    6.5

In [13]:
df.loc['iPhone 8' : 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [14]:
df.loc[: 'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

컬럼 슬라이싱의 경우 복잡하게 써줘야 함

In [15]:
df['메모리': 'Face ID']

Empty DataFrame
Columns: [출시일, 디스플레이, 메모리, 출시 버전, Face ID]
Index: []

이렇게 하면 로우 부분이 나오지 않음

In [16]:
df.loc[:, '메모리':'Face ID']

               메모리     출시 버전 Face ID
iPhone 7       2GB  iOS 10.0      No
iPhone 7 Plus  3GB  iOS 10.0      No
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes
iPhone XS Max  4GB  iOS 12.0     Yes

In [17]:
df.loc['iPhone 8' : 'iPhone XS', '메모리':'Face ID']

               메모리     출시 버전 Face ID
iPhone 8       2GB  iOS 11.0      No
iPhone 8 Plus  3GB  iOS 11.0      No
iPhone X       3GB  iOS 11.1     Yes
iPhone XS      4GB  iOS 12.0     Yes

로우 '값'들을 부를 경우 loc 써줘야 함

컬럼 '값'들을 부를 경우 loc 쓰지 않아도 되지만, 슬라이싱을 할 경우 써야함!

In [18]:
df.loc[[True, True, False, False, True, True, False]]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

로우 개수에 맞는 불린 리스트를 적어줘야 함 -> 그렇지 않으면 에러가 난다!

In [19]:
df.loc[:, [True, True, False, False, True]]

                      출시일  디스플레이 Face ID
iPhone 7       2016-09-16    4.7      No
iPhone 7 Plus  2016-09-16    5.5      No
iPhone 8       2017-09-22    4.7      No
iPhone 8 Plus  2017-09-22    5.5      No
iPhone X       2017-11-03    5.8     Yes
iPhone XS      2018-09-21    5.8     Yes
iPhone XS Max  2018-09-21    6.5     Yes

In [20]:
df['디스플레이'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [21]:
df.loc[df['디스플레이'] > 5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [32]:
df[df['디스플레이'] > 5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

5보다 큰 애들만 인덱싱 한 후 -> 필터링 해서 나옴
열의 경우 loc 쓰지 않아도 필터링 가능

In [23]:
df['Face ID'] == 'Yes'

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: Face ID, dtype: bool

In [24]:
df.loc[df['Face ID'] == 'Yes']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [25]:
condition = (df['디스플레이'] > 5) & (df['Face ID'] == 'Yes')
condition

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
dtype: bool

In [26]:
df.loc[condition]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [33]:
df[condition]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [27]:
new_condition = (df['디스플레이'] > 5) | (df['Face ID'] == 'Yes')
new_condition

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
dtype: bool

& 를 쓰면 두 가지 조건 다 만족시키고, | 를 쓰면 한 가지만 충족시켜도 됨

In [28]:
df.iloc[2,4]

'No'

2번 로우 4번 컬럼의 값을 가져 오라는 뜻

In [29]:
df.iloc[[1,3], [1,4]]

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [30]:
df.iloc[3: , 1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0

로우는 3번 인덱스부터 쭉, 컬럼은 1~3인덱스까지 받아오라는 뜻

이름으로 쓰는 경우 :를 쓰면 :의 오른쪽은 값이 포함되지만 인덱스는 포함되지 않음!